<div class="events" >
  <div class="flex flex--space-between">
    <events-search></events-search>
    <events-filter></events-filter>
  </div>

  <div *ngIf="events$ | async as events">
    <h3 *ngIf="events.length">Ongoing and Upcoming Events</h3>
    <ng-container *ngFor="let event of events">
      <event [event]="event"></event>
    </ng-container>
  </div>

  <div *ngIf="pastEvents$ | async as pastEvents">
    <h3 *ngIf="pastEvents.length">Past Events</h3>
    <ng-container *ngFor="let event of pastEvents">
      <event [event]="event"></event>
    </ng-container>
  </div>

  <div *ngIf="!events?.length && !pastEvents?.length">No event found.</div>
  <event-add></event-add>
</div>
