$red: #d9534f;
$blue: #0275d8;
$green: #5cb85c;
$cyan: #5bc0de;

.event {
  border: 0;
  border-radius: 3px;
  font-family: sans-serif;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  transition: .3s ease;

  a {
    &.delete {
      color: $red;
    }
    &.more {
      color: $blue;
    }
    &.duplicate {
      color: $cyan;
    }
  }

  &__header, &__actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  &__actions {
    a:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__info{
    margin-bottom: 15px;

    p{
      margin-bottom: 5px;
    }
  }

  &.ongoing, &.future, &.past {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color);
    }

    .event__title {
      color: var(--color);
    }
  }

  &.ongoing {
    // box-shadow: 0px 0px 5px 2px $green;
    background-color: #fff;
    --color: #{$green};
  }

  &.past {
    // box-shadow: 0px 0px 5px 2px #ddd;
    background-color: #f4f4f4;
    --color: #777;
  }

  &.future {
    // box-shadow: 0px 0px 5px 2px #0275d8;
    background-color: white;
    --color: #{$blue};
  }
}
